#
/**
 * @file
 * Default theme implementation for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 *
 * @ingroup themeable
 */
#}

<form{{ attributes }}>
    {{ element.form_build_id }}
    {{ element.form_id }}
    <div class="row">
        <div class="col-lg-6 col-sm-12">{{ element.quantity }}</div>
        <div class="col-lg-6 col-sm-12">
            {{ element.district }}
            {{ element.phone }}
            {{ element.address }}
            {{ element.price }}
            <div class="align-right">{{ element.submit }}</div>
        </div>
    </div>
</form>
