<h2>Your order:</h2>
<table>
    <tr>
        <th>Title</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Sum</th>
    </tr>

    {% for item in items %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.qty }}</td>
            <td>{{ item.price }}</td>
            <td>{{ item.sum }}</td>
        </tr>
    {% endfor %}

</table>
<hr>
<h3>Will be delivered to:</h3>
<ul>
    <li>
        District: {{ district.name }}, price: {{ district.price }}
    </li>
    <li>
        Address: {{ address }}
    </li>
    <li>
        Phone: {{ phone }}
    </li>
</ul>
<h2>
    Total: {{ total }}
</h2>
